<script>
    function file_view_open(path) {
        document.querySelector("#preview_card").classList.replace("block", "hidden")
        document.querySelector("#preview_card").classList.remove("lg:block")
        document.querySelector("#preview_card > div").innerHTML = ''

        document.querySelector("#file-view-name").innerHTML = "(불러오는 중..)"
        document.querySelector("#file-view-path").innerHTML = ""
        document.querySelector("#file-view-cpath").innerHTML = ""
        document.querySelector("#file-view-size").innerHTML = ""
        document.querySelector("#file-view-mtime").innerHTML = ""
        document.querySelector("#file-view-rtime").innerHTML = ""
        document.querySelector("#file-view-rtime").innerHTML = ""
        document.querySelector("#file-view-atime").innerHTML = ""
        document.querySelector("#file-view-type").innerHTML = ""
        fetch("/api/file/" + path)
            .then((response) => response.json())
            .then((data) => {

                    var cloud_path_list = data["cloud_path"].split("/")
                    if (cloud_path_list[0] === "클라우드") {cloud_path_list.splice(0, 1)}

                    var cloud_path_str = cloud_path_list.join("/")

                    document.querySelector("#file-view-name").innerHTML = data["name"]
                    document.querySelector("#file-view-path").innerHTML = data["server_path"]
                    document.querySelector("#file-view-cpath").innerHTML = data["cloud_path"]
                    document.querySelector("#file-view-size").innerHTML = data["bytes_str"]
                    document.querySelector("#file-view-mtime").innerHTML = data["make_time_str"]
                    document.querySelector("#file-view-rtime").innerHTML = data["revise_time_str"]
                    document.querySelector("#file-view-rtime").innerHTML = data["revise_time_str"]
                    document.querySelector("#file-view-atime").innerHTML = data["access_time_str"]
                    document.querySelector("#file-view-type").innerHTML = data["mimetype"]

                    var mimetype = String(data["mimetype"]).split("/")

                    if (mimetype[0] === "image") {
                        document.querySelector("#preview_card").classList.replace("hidden", "block")
                        document.querySelector("#preview_card").classList.remove("lg:block")
                        document.querySelector("#preview_card > div").innerHTML = '<img src="' + ("/file/preview/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/") + '" class="lg:max-w-[24%] rounded-lg" alt="' + data["name"] + '">'
                    } else if (mimetype[0] === "video") {
                        document.querySelector("#preview_card").classList.replace("hidden", "block")
                        document.querySelector("#preview_card").classList.remove("lg:block")
                        document.querySelector("#preview_card > div").innerHTML = '<video controls class="max-w-full lg:max-w-[24%] rounded-lg"><source src="' + ("/file/preview/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/") + '" type="' + data["mimetype"] + '"></video>'
                    } else if (mimetype[1] === "pdf") {
                        document.querySelector("#preview_card").classList.replace("block", "hidden")
                        document.querySelector("#preview_card").classList.add("lg:block")
                        document.querySelector("#preview_card > div").innerHTML = '<iframe src="' + ("/file/preview/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/") + '" class="max-w-full lg:w-[49vw] lg:h-[25vw] rounded-lg"></iframe>'
                    }

                    document.querySelector("#file-view-del").addEventListener("click", function () {
                        Swal.fire({
                            title: '삭제 할까요?',
                            text: "클라우드에서 영구 삭제됩니다!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '삭제하기',
                            cancelButtonText: '취소하기'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/file/delete/" + data["server_path"] + "/" + data["name"] + "?back_url=" + cloud_path_str.replaceAll("//", "/")
                            }
                        })
                    })
                    document.querySelector("#file-view-download").href = ("/file/download/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/")
                    if (data["preview_ban"]) {
                        document.querySelector("#file-view-preview").href = ""
                        document.querySelector("#file-view-preview").classList.add("opacity-50")
                        document.querySelector("#file-view-preview").classList.add("pointer-events-none")
                    } else {
                        document.querySelector("#file-view-preview").href = ("/file/preview/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/")
                        document.querySelector("#file-view-preview").classList.remove("opacity-50")
                        document.querySelector("#file-view-preview").classList.remove("pointer-events-none")
                    }

                }
            )
        view_open("file")
    }
    function dir_view_open(path) {
        document.querySelector("#dir-view-name").innerHTML = "(불러오는 중..)"
        document.querySelector("#dir-view-path").innerHTML = ""
        document.querySelector("#dir-view-cpath").innerHTML = ""
        document.querySelector("#dir-view-size").innerHTML = ""
        document.querySelector("#dir-view-mtime").innerHTML = ""
        document.querySelector("#dir-view-download").href = "."
        fetch("/api/directory/" + path)
            .then((response) => response.json())
            .then((data) => {
                    var cloud_path_list = data["cloud_path"].split("/")
                    if (cloud_path_list[0] === "클라우드") {cloud_path_list.splice(0, 1)}
                    var cloud_path_str = cloud_path_list.join("/")
                    document.querySelector("#dir-view-name").innerHTML = data["name"]
                    document.querySelector("#dir-view-path").innerHTML = data["server_path"]
                    document.querySelector("#dir-view-cpath").innerHTML = data["cloud_path"]
                    document.querySelector("#dir-view-size").innerHTML = data["bytes_str"]
                    document.querySelector("#dir-view-mtime").innerHTML = data["make_time_str"]
                    document.querySelector("#dir-view-download").href = ("/file/download/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/")
                    document.querySelector("#dir-view-del").addEventListener("click", function () {
                        Swal.fire({
                            title: '삭제 할까요?',
                            text: "폴더가 클라우드에서 영구 삭제됩니다!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '삭제하기',
                            cancelButtonText: '취소하기'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/file/delete/" + data["server_path"] + "/" + data["name"] + "?back_url=" + cloud_path_str.replaceAll("//", "/")
                            }
                        })
                    })
                }
            )
        view_open("dir")
    }

    function formatBytes(bytes, decimals = 2, size = null) {
        if (bytes === 0) return '0 Bytes';

        const k = 1024;
        const dm = decimals < 0 ? 0 : decimals;
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

        let i = Math.floor(Math.log(bytes) / Math.log(k));
        if (size !== null) {i = size}


        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
    }

    function cloud_file_upload(url) {
        var input = document.querySelector("#upload_input")

        input.disabled = true

        var data = new FormData()
        var request = new XMLHttpRequest()
        var file = input.files[0];

        const total_form_sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB'];

        var filename = file.name;

        data.append("file", file);

        request.upload.addEventListener("progress", function(e) {
            document.querySelector("#upload_progressbar_com").classList.replace("hidden", "block")
            var loaded = e.loaded;
            var total = e.total;

            var percentage_complete = (loaded / total) * 100;
            document.querySelector("#upload_progressbar").style.width = Math.floor(percentage_complete) + "%"

            var total_form = formatBytes(total)
            var total_size = total_form.split(" ")[1]

            if (Number(Math.floor(percentage_complete)) === 100) {
                document.querySelector("#upload_progressmsg").innerHTML = `${formatBytes(loaded, 2, total_form_sizes.indexOf(total_size))} / ${total_form} (처리중..)`
            } else {
                document.querySelector("#upload_progressmsg").innerHTML = `${formatBytes(loaded, 2, total_form_sizes.indexOf(total_size))} / ${total_form}`
            }
        })

        request.addEventListener("load", function(e) {
            if (request.status === 200) {
                document.cookie = `upload_message=${filename} 파일이 업로드 되었습니다.`;
                location.reload();
            } else {
                document.querySelector("#upload_progressbar").classList.replace("bg-sky-500", "bg-red-400")
                document.querySelector("#upload_progressmsg").innerHTML = '파일 업로드의 실패하였습니다'
            }
            reset();
        })

        request.addEventListener("error", function (e) {
            reset();
            document.querySelector("#upload_progressbar").classList.replace("bg-sky-500", "bg-red-400")
            document.querySelector("#upload_progressmsg").innerHTML = '파일 업로드의 실패하였습니다'
        })

        request.open('post', url);
        request.send(data);
    }



    function view_open(view) {
        if (view === "main") {
            document.querySelector("#main-view").style.display = "block"
            setTimeout(function () {document.querySelector("#main-view").style.opacity = 1}, 1)
            document.querySelector("#dir-view").style.position = "absolute"
            document.querySelector("#dir-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#dir-view").style.display = "none"; document.querySelector("#dir-view").style.position = "initial"}, 145)
            document.querySelector("#file-view").style.position = "absolute"
            document.querySelector("#file-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#file-view").style.display = "none"; document.querySelector("#file-view").style.position = "initial"}, 145)
            document.querySelector("#upload-view").style.position = "absolute"
            document.querySelector("#upload-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#upload-view").style.display = "none"; document.querySelector("#upload-view").style.position = "initial"}, 145)
        } else if (view === "dir") {
            document.querySelector("#dir-view").style.display = "block"
            setTimeout(function () {document.querySelector("#dir-view").style.opacity = 1}, 1)
            document.querySelector("#dir-view").style.position = "absolute"
            document.querySelector("#main-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#main-view").style.display = "none"; document.querySelector("#dir-view").style.position = "initial"}, 145)
            document.querySelector("#file-view").style.position = "absolute"
            document.querySelector("#file-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#file-view").style.display = "none"; document.querySelector("#file-view").style.position = "initial"}, 145)
            document.querySelector("#upload-view").style.position = "absolute"
            document.querySelector("#upload-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#upload-view").style.display = "none"; document.querySelector("#upload-view").style.position = "initial"}, 145)
        } else if (view === "file") {
            document.querySelector("#file-view").style.display = "block"
            setTimeout(function () {document.querySelector("#file-view").style.opacity = 1}, 1)
            document.querySelector("#file-view").style.position = "absolute"
            document.querySelector("#main-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#main-view").style.display = "none"; document.querySelector("#file-view").style.position = "initial"}, 145)
            document.querySelector("#dir-view").style.position = "absolute"
            document.querySelector("#dir-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#dir-view").style.display = "none"; document.querySelector("#dir-view").style.position = "initial"}, 145)
            document.querySelector("#upload-view").style.position = "absolute"
            document.querySelector("#upload-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#upload-view").style.display = "none"; document.querySelector("#upload-view").style.position = "initial"}, 145)
        } else if (view === "upload") {
            document.querySelector("#upload-view").style.display = "block"
            setTimeout(function () {document.querySelector("#upload-view").style.opacity = 1}, 1)
            document.querySelector("#upload-view").style.position = "absolute"
            document.querySelector("#main-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#main-view").style.display = "none"; document.querySelector("#upload-view").style.position = "initial"}, 145)
            document.querySelector("#dir-view").style.position = "absolute"
            document.querySelector("#dir-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#dir-view").style.display = "none"; document.querySelector("#dir-view").style.position = "initial"}, 145)
            document.querySelector("#file-view").style.position = "absolute"
            document.querySelector("#file-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#file-view").style.display = "none"; document.querySelector("#file-view").style.position = "initial"}, 145)
        }
    }

    function create_text(input, path) {
        var value = input.value
        var create_name_in = $("label[id='create_name']")[0].innerHTML

        if (value.length <= 0) {

            if (create_name_in === "폴더의 이름") {
                document.querySelector("#upload-view-input_create > div.w-full.contents > #CN-text").innerHTML = "폴더의 이름을 입력하세요."
            } else if (create_name_in === "파일 이름 (확장자 포함)") {
                document.querySelector("#upload-view-input_create > div.w-full.contents > #CN-text").innerHTML = "파일의 이름을 입력하세요."
            }
            document.querySelector("#upload-view-input_create > div.w-full.contents > #CN-text").style.display = "block"
        } else {

            fetch(`/api/CCDOF/${value}/${path}`)
            .then((response) => response.json())
            .then((data) => {
                    if (data["return"]) {
                        document.querySelector("#upload-view-input_create > div.w-full.contents > #CN-text").innerHTML = "이미 동일한 이름의 폴더또는 파일이 있습니다."
                        document.querySelector("#upload-view-input_create > div.w-full.contents > #CN-text").style.display = "block"
                    } else {
                        document.querySelector("#upload-view-input_create > div.w-full.contents > #CN-text").style.display = "none"
                    }
                }
            )
        }
    }

    function create_button(path) {
        create_text($("input[id='create_name_input']")[0], path)

        if (document.querySelector("#upload-view-input_create > div.w-full.contents > #CN-text").style.display === "none") {
            document.querySelector("#page_loading").style.display = "block"
            document.querySelector("#upload-view-input_create").submit()
        }
    }

    $("input[name='create_file_type']:radio").change(function () {
        var value = this.value;

        if (value === "path") {
            $("label[id='create_name']")[0].innerHTML = "폴더의 이름"
        } else {
            $("label[id='create_name']")[0].innerHTML = "파일 이름 (확장자 포함)"
        }

        create_text($("input[id='create_name_input']")[0], $("input[id='url_path']")[0].value)
    });

    function dir_go(href) {
        setTimeout(function () {
            if (document.querySelector("#dir-view").style.display === "none") {
                var href_list = href.split("/")
                if (href_list[0] === ".") {href_list[0] = "/cloud"}
                window.location.href = href_list.join("/")
            }
        }, 150)
    }
</script>