<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>

    function input_login_id(input) {
        var input_var = (input.value).replaceAll(" ","");
        if (input_var.length <= 0) {document.querySelector("#id_text").style.display = "block"} else {document.querySelector("#id_text").style.display = "none"}
    }

    function input_login_password(input) {
        var input_var = (input.value).replaceAll(" ","");
        if (input_var.length <= 0) {document.querySelector("#password_text").style.display = "block"} else {document.querySelector("#password_text").style.display = "none"}
    }

    function login_submit() {
        input_login_password(document.querySelector("#password"))
        input_login_id(document.querySelector("#id"))
        if (document.querySelector("#password_text").style.display === "none" || document.querySelector("#id_text").style.display === "none") {
            document.querySelector("#page_loading").style.display = "block"
            document.querySelector("#login_form").submit()
        }
    }

    function user_auth_submit() {
        input_login_password(document.querySelector("#password"))
        if (document.querySelector("#password_text").style.display === "none") {
            document.querySelector("#page_loading").style.display = "block"
            document.querySelector("#login_form").submit()
        }
    }

    function FileList_event() {
        window.onbeforeunload = function (e) {
            document.querySelector("#page_loading").style.display = "block"
        };
    }

    function file_view_open(path) {
        fetch("/api/file/" + path)
            .then((response) => response.json())
            .then((data) => {

                    var cloud_path_list = data["cloud_path"].split("/")
                    if (cloud_path_list[0] === "클라우드") {cloud_path_list.splice(0, 1)}

                    var cloud_path_str = cloud_path_list.join("/")

                    document.querySelector("#file-view-name").innerHTML = data["name"]
                    document.querySelector("#file-view-path").innerHTML = data["server_path"]
                    document.querySelector("#file-view-cpath").innerHTML = data["cloud_path"]
                    document.querySelector("#file-view-size").innerHTML = data["bytes_str"]
                    document.querySelector("#file-view-mtime").innerHTML = data["make_time_str"]
                    document.querySelector("#file-view-rtime").innerHTML = data["revise_time_str"]
                    document.querySelector("#file-view-rtime").innerHTML = data["revise_time_str"]
                    document.querySelector("#file-view-atime").innerHTML = data["access_time_str"]
                    document.querySelector("#file-view-type").innerHTML = data["mimetype"]

                    var mimetype = String(data["mimetype"]).split("/")

                    if (mimetype[0] === "image") {
                        document.querySelector("#preview_card").classList.replace("hidden", "block")
                        document.querySelector("#preview_card").classList.remove("lg:block")
                        document.querySelector("#preview_card > div").innerHTML = '<img src="' + ("/file/preview/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/") + '" class="lg:max-w-[24%] rounded-lg" alt="' + data["name"] + '">'
                    } else if (mimetype[0] === "video") {
                        document.querySelector("#preview_card").classList.replace("hidden", "block")
                        document.querySelector("#preview_card").classList.remove("lg:block")
                        document.querySelector("#preview_card > div").innerHTML = '<video controls class="max-w-full lg:max-w-[24%] rounded-lg"><source src="' + ("/file/preview/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/") + '" type="' + data["mimetype"] + '"></video>'
                    } else if (mimetype[1] === "pdf") {
                        document.querySelector("#preview_card").classList.replace("block", "hidden")
                        document.querySelector("#preview_card").classList.add("lg:block")
                        document.querySelector("#preview_card > div").innerHTML = '<iframe src="' + ("/file/preview/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/") + '" class="max-w-full lg:w-[49vw] lg:h-[25vw] rounded-lg"></iframe>'
                    } else {
                        document.querySelector("#preview_card").classList.replace("block", "hidden")
                        document.querySelector("#preview_card").classList.remove("lg:block")
                        document.querySelector("#preview_card > div").innerHTML = ''
                    }

                    document.querySelector("#file-view-del").addEventListener("click", function () {
                        Swal.fire({
                            title: '삭제 할까요?',
                            text: "클라우드에서 영구 삭제됩니다!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '삭제하기',
                            cancelButtonText: '취소하기'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/file/delete/" + data["server_path"] + "/" + data["name"] + "?back_url=" + cloud_path_str.replaceAll("//", "/")
                            }
                        })
                    })
                    document.querySelector("#file-view-download").href = ("/file/download/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/")
                    if (data["preview_ban"]) {
                        document.querySelector("#file-view-preview").href = ""
                        document.querySelector("#file-view-preview").classList.add("opacity-50")
                        document.querySelector("#file-view-preview").classList.add("pointer-events-none")
                    } else {
                        document.querySelector("#file-view-preview").href = ("/file/preview/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/")
                        document.querySelector("#file-view-preview").classList.remove("opacity-50")
                        document.querySelector("#file-view-preview").classList.remove("pointer-events-none")
                    }

                }
            )
        view_open("file")
    }

    function dir_view_open(path) {
        fetch("/api/directory/" + path)
            .then((response) => response.json())
            .then((data) => {
                    var cloud_path_list = data["cloud_path"].split("/")
                    if (cloud_path_list[0] === "클라우드") {cloud_path_list.splice(0, 1)}
                    var cloud_path_str = cloud_path_list.join("/")
                    document.querySelector("#dir-view-name").innerHTML = data["name"]
                    document.querySelector("#dir-view-path").innerHTML = data["server_path"]
                    document.querySelector("#dir-view-cpath").innerHTML = data["cloud_path"]
                    document.querySelector("#dir-view-size").innerHTML = data["bytes_str"]
                    document.querySelector("#dir-view-mtime").innerHTML = data["make_time_str"]
                    document.querySelector("#dir-view-download").href = ("/file/download/" + cloud_path_str.replaceAll("//", "/") + "/" + data["name"]).replaceAll("//", "/")
                    document.querySelector("#dir-view-del").addEventListener("click", function () {
                        Swal.fire({
                            title: '삭제 할까요?',
                            text: "폴더가 클라우드에서 영구 삭제됩니다!",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: '삭제하기',
                            cancelButtonText: '취소하기'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "/file/delete/" + data["server_path"] + "/" + data["name"] + "?back_url=" + cloud_path_str.replaceAll("//", "/")
                            }
                        })
                    })
                }
            )
        view_open("dir")
    }

    function dir_go(href) {
        setTimeout(function () {
            if (document.querySelector("#dir-view").style.display === "none") {
                var href_list = href.split("/")
                console.log(href_list)
                if (href_list[0] === ".") {href_list[0] = "/cloud"}
                console.log(href_list)
                console.log(href_list.join("/"))
                window.location.href = href_list.join("/")
            }
        }, 150)
    }

    function view_open(view) {
        if (view === "main") {
            document.querySelector("#main-view").style.display = "block"
            setTimeout(function () {document.querySelector("#main-view").style.opacity = 1}, 1)
            document.querySelector("#dir-view").style.position = "absolute"
            document.querySelector("#dir-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#dir-view").style.display = "none"; document.querySelector("#dir-view").style.position = "initial"}, 145)
            document.querySelector("#file-view").style.position = "absolute"
            document.querySelector("#file-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#file-view").style.display = "none"; document.querySelector("#file-view").style.position = "initial"}, 145)
            document.querySelector("#upload-view").style.position = "absolute"
            document.querySelector("#upload-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#upload-view").style.display = "none"; document.querySelector("#upload-view").style.position = "initial"}, 145)
        } else if (view === "dir") {
            document.querySelector("#dir-view").style.display = "block"
            setTimeout(function () {document.querySelector("#dir-view").style.opacity = 1}, 1)
            document.querySelector("#dir-view").style.position = "absolute"
            document.querySelector("#main-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#main-view").style.display = "none"; document.querySelector("#dir-view").style.position = "initial"}, 145)
            document.querySelector("#file-view").style.position = "absolute"
            document.querySelector("#file-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#file-view").style.display = "none"; document.querySelector("#file-view").style.position = "initial"}, 145)
            document.querySelector("#upload-view").style.position = "absolute"
            document.querySelector("#upload-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#upload-view").style.display = "none"; document.querySelector("#upload-view").style.position = "initial"}, 145)
        } else if (view === "file") {
            document.querySelector("#file-view").style.display = "block"
            setTimeout(function () {document.querySelector("#file-view").style.opacity = 1}, 1)
            document.querySelector("#file-view").style.position = "absolute"
            document.querySelector("#main-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#main-view").style.display = "none"; document.querySelector("#file-view").style.position = "initial"}, 145)
            document.querySelector("#dir-view").style.position = "absolute"
            document.querySelector("#dir-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#dir-view").style.display = "none"; document.querySelector("#dir-view").style.position = "initial"}, 145)
            document.querySelector("#upload-view").style.position = "absolute"
            document.querySelector("#upload-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#upload-view").style.display = "none"; document.querySelector("#upload-view").style.position = "initial"}, 145)
        } else if (view === "upload") {
            document.querySelector("#upload-view").style.display = "block"
            setTimeout(function () {document.querySelector("#upload-view").style.opacity = 1}, 1)
            document.querySelector("#upload-view").style.position = "absolute"
            document.querySelector("#main-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#main-view").style.display = "none"; document.querySelector("#upload-view").style.position = "initial"}, 145)
            document.querySelector("#dir-view").style.position = "absolute"
            document.querySelector("#dir-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#dir-view").style.display = "none"; document.querySelector("#dir-view").style.position = "initial"}, 145)
            document.querySelector("#file-view").style.position = "absolute"
            document.querySelector("#file-view").style.opacity = 0
            setTimeout(function () {document.querySelector("#file-view").style.display = "none"; document.querySelector("#file-view").style.position = "initial"}, 145)
        }
    }
    function cloud_file_upload() {
        document.querySelector("#upload-view-input").submit()
        document.querySelector("#page_loading").style.display = "block"
    }

    function system_server(job) {
        if (job === "reboot") {
            Swal.fire({
                title: '정말로 다시시작 할까요?',
                text: "서버가 다시시작 됩니다.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '다시시작',
                cancelButtonText: '취소하기'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/system/reboot?back_url=system"
                }
            })
        } else if (job === "off") {
            Swal.fire({
                title: '정말로 종료 할까요?',
                text: "서버가 종료 됩니다.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '서버종료',
                cancelButtonText: '취소하기'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/system/shutdown?back_url=system"
                }
            })
        }
    }

</script>

<script>
    tailwind.config = {
        theme: {
            extend: {
                spacing: {
                    '25vw': '25vw',
                    '5vw': '5vw',
                    '31vh': '31vh',
                    '41vw': '41vw',
                    '36vw': '36vw',
                    '3px': '3px',
                    '62vw': '62vw',
                    '83vw': '83vw',
                    '4vw': '4vw',
                    '54%': '54%',
                    '18px': '18px',
                    '16vw': '16vw',
                    '24%': '24%',
                    '1.72px': '1.72px',
                    '1.71px': '1.71px',
                    '49vw': '49vw',
                    '25vw': '25vw',
                }
            }
        }
    }
</script>
