<script src="https://cdn.tailwindcss.com"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>

<script>

    function input_login_id(input) {
        var input_var = (input.value).replaceAll(" ","");
        if (input_var.length <= 0) {document.querySelector("#id_text").style.display = "block"} else {document.querySelector("#id_text").style.display = "none"}
    }

    function input_login_password(input) {
        var input_var = (input.value).replaceAll(" ","");
        if (input_var.length <= 0) {document.querySelector("#password_text").style.display = "block"} else {document.querySelector("#password_text").style.display = "none"}
    }

    function login_submit() {
        input_login_password(document.querySelector("#password"))
        input_login_id(document.querySelector("#id"))
        if (document.querySelector("#password_text").style.display === "none" || document.querySelector("#id_text").style.display === "none") {
            document.querySelector("#page_loading").style.display = "block"
            document.querySelector("#login_form").submit()
        }
    }

    function user_auth_submit() {
        input_login_password(document.querySelector("#password"))
        if (document.querySelector("#password_text").style.display === "none") {
            document.querySelector("#page_loading").style.display = "block"
            document.querySelector("#login_form").submit()
        }
    }

    function FileList_event() {
        window.onbeforeunload = function (e) {
            document.querySelector("#page_loading").style.display = "block"
        };
    }

    function system_server(job) {
        if (job === "reboot") {
            Swal.fire({
                title: '정말로 다시시작 할까요?',
                text: "서버가 다시시작 됩니다.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '다시시작',
                cancelButtonText: '취소하기'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/system/reboot?back_url=system"
                }
            })
        } else if (job === "off") {
            Swal.fire({
                title: '정말로 종료 할까요?',
                text: "서버가 종료 됩니다.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '서버종료',
                cancelButtonText: '취소하기'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/system/shutdown?back_url=system"
                }
            })
        }
    }


</script>

<script>
    tailwind.config = {
        theme: {
            extend: {
                spacing: {
                    '25vw': '25vw',
                    '5vw': '5vw',
                    '31vh': '31vh',
                    '41vw': '41vw',
                    '36vw': '36vw',
                    '3px': '3px',
                    '62vw': '62vw',
                    '83vw': '83vw',
                    '4vw': '4vw',
                    '54%': '54%',
                    '18px': '18px',
                    '16vw': '16vw',
                    '24%': '24%',
                    '1.72px': '1.72px',
                    '1.71px': '1.71px',
                    '49vw': '49vw'
                }
            }
        }
    }
</script>
