<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>개인 클라우드 | 다시시작</title>

    {% include 'include/style.html' %}

</head>
<body onload="server_ck()">
<noscript>어라? 자바스크립트를 사용할수 없어요..</noscript>
<div class="relative mx-[5vw] my-3 bg-white overflow-hidden">
    <nav class="bg-white py-3.5 px-3.5">
        개인 클라우드 - 다시시작
        <div class="w-full h-px bg-gray-200 mt-1"></div>
    </nav>
    <div class="relative mb-3 bg-white px-3.5">
        <div id="page_loading">
            <div style="border-top-color:transparent" class="inline-block w-5 h-5 border-2 border-blue-400 border-solid rounded-full animate-spin mb-2.5 mr-1"></div>
            <p class="inline-block relative bottom-3.5">서버 다시 시작중..</p>
        </div>
    </div>
</div>

<script>

    function server_ck() {
        setTimeout(function () {
            fetch("/").then((response) => {
                    if (response.status !== 200) {
                        server_ck()
                    } else {
                        window.location.href = "/system"
                    }
                }
            )
        }, 1500)

    }

</script>

{% include 'include/script.html' %}
</body>
</html>