<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>개인 클라우드</title>

    {% include 'include/style.html' %}

</head>
<body>
<noscript>어라? 자바스크립트를 사용할수 없어요..</noscript>
<div class="relative mx-[5vw] my-3 bg-white overflow-hidden">
    <nav class="bg-white py-3.5 px-3.5">
        ㅁㄴㅇㄹ
        <div class="w-full h-px bg-gray-200 mt-1"></div>
    </nav>
    <div class="relative mb-3 bg-white px-3.5">
        내용
    </div>
</div>

{% include 'include/script.html' %}
</body>
</html>