<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>개인 클라우드 | 사용자 인증</title>

    {% include 'include/style.html' %}

</head>
<body>
<noscript>어라? 자바스크립트를 사용할수 없어요..</noscript>
<div class="relative mx-[5vw] my-3 bg-white overflow-hidden">
    <nav class="bg-white py-3.5 px-3.5">
        <a href="/{{ back_url }}" class='transition-all duration-200 rounded-lg mx-1.5 hover:bg-gray-100 hover:px-1 hover:py-0.5 cursor-pointer'>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                 class="fill-slate-700 stroke-2 inline-block relative bottom-[3px]" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
            </svg>
        </a>
        해당 작업을 진행하려면 사용자 인증이 필요합니다.
        <div class="w-full h-px bg-gray-200 mt-1"></div>
    </nav>
    <div class="relative mb-3 bg-white px-3.5">
        {% include 'include/loading.html' %}
        {% include 'include/error_nol.html' %}
        <form method="post" id="login_form" onsubmit="return false;">
            <div class="mb-3">
                <input type="hidden"/>
                <label for="password" class="flex">계정 비밀번호</label>
                <input type="password" name="password" id="password" class="focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full sm:text-sm focus:ring-1 border-inherit placeholder-slate-400 bg-white px-3 py-2 border rounded-md focus" oninput="input_login_password(this);" onclick="input_login_password(this);">
                <div class="text-sm text-red-400" id="password_text" style="display: none;">비밀번호를 입력하세요.</div>
            </div>
            <div class="mb-2.5" style="font-size: 15px;">로그인할때 사용된 비밀번호를 입력하세요.</div>
        </form>
        <button type="button" onclick="user_auth_submit();"  class="items-center px-4 py-2 font-semibold transition duration-200 leading-6 text-sm shadow rounded-md text-white bg-blue-500 hover:bg-blue-600">인증</button>


    </div>
</div>

{% include 'include/script.html' %}
</body>
</html>